.navbar{
    height: 70px;
    background-color: #ff795b;

    &__ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__li, &__logo{
        display: flex;
        justify-content: end;
        gap: 50px;
        margin: 20px 40px;
    }

    &__navigation, &__logo{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
}

.nav{
    box-shadow: 0 20px 40px 0 rgba(255, 255, 255, 0.696);
}